*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header ,footer {
display: flex;
justify-content: space-between;
align-items: center;
    padding: 10px;
    background-color: rgb(151, 148, 148);
}

header {
    position:fixed;
    width: 100%;
    top: 0;   
}

main {
padding-top: 130px;
}

.logo img{
width: 100px;
height: fit-content;
}

.search{
display: flex;
flex: 1;
}

.search-bar{
    width: 75%;
    margin: 0 20px;
    color: rgb(16, 15, 15);
    border: none;
    padding: 5px;

    
}

.search button{
    padding: 5px;
    background-color: rgb(165, 4, 4);
border: none;
border-radius: 10%;
cursor: pointer;
color: rgb(237, 221, 221);
}

ul li{
    display: inline;
}

ul li a{
    color: rgb(12, 12, 12);
    padding: 5px;
    text-decoration: none;
    text-transform: capitalize;
}

.product__caursel{
    display: flex;
    overflow-x: auto;
    padding: 10px;
    

}

.productcard{
    background-color: whitesmoke;
    border: solid black 1px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form input,form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    
}